
.send { padding: 7px; border-radius: 10px; font-weight: bold; }
.selectSize{ color: #000000; margin-right:30px; margin-left:30px; padding: 8px; border-radius: 10px; }

.clear { clear: both; height:40px; }